<div class='col-xs-10 col-xs-offset-1 coll-sm-8 coll-sm-offset-2'>
  <div class='panel'>
    <div class='panel-heading'>
      <h2>Log in</h2>
    </div>
    <div class='panel-body'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <br />
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <br />
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <br />
          </div>
        <% end -%>
        <br />
        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <br />
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>