<h1>Axes Index</h1>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <% @axes.each do |a| %>
    <% axe_id = a[:id].to_s %>
    <% span_id = 'axe-like-count-' + axe_id %>
    <% error_img_url = image_url('no_image.jpg') %>
    <div class="box">
      <img src=<%=a[:url]%> 
           alt='picture of guitar'
           onError=<%= 'this.src="' + error_img_url + '"' %>  />
      <p class='axe-caption'><%= a[:caption] %></p>
      <p><span class='likes' id=<%= span_id %>><%= a[:like_count] %></span>
        <% if current_user %>
          <% if a[:liked_by_user] %>
            <span class='glyphicon glyphicon-heart action like axe-liked'
                 aria-label='like' 
                 data-axe-id=<%= axe_id %>>
            </span>
          <% else %>
            <span class='glyphicon glyphicon-heart action like'
                 aria-label='like' 
                 data-axe-id=<%= axe_id %>>
            </span>          
          <% end %>
        <% else %>
          <span class="glyphicon glyphicon-heart action-disabled">
          </span>
        <% end %>       
      </p>
      <p><%= link_to a[:username], user_rig_path(a[:user_id]) %></p>
    </div>
  <% end %>
</div>

<script>
  $('.like').on('click', (function() {
    var axeEl = $(this);
    var axeId = axeEl[0].dataset["axeId"];
    $.ajax ({
      type: 'POST',
      url: '/axes/' + axeId + '/toggle_like',
      success: function(response) {
        if (response.success) {
          var spanEl = '#axe-like-count-' + axeId;
          $(spanEl).text(response.like_count);
          axeEl.toggleClass('axe-liked');
        }
        else{
          console.log(response);
        }
      },
      error: function(response) {
        console.log('error',response.responseText);
      }
    })
  }));
</script>